.sidebar {
    width: 250px;
    transition: width 0.3s;
  }
  
  .sidebar.closed {
    width: 80px;
  }
  
  .logo-item img {
    transition: transform 0.3s;
  }
  
  .logo-item img:hover {
    transform: scale(1.1);
  }
  
  .nav-item {
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-item:hover {
    background-color: #f0f0f0;
    color: #007bff;
  }
  
  .dropdown-toggle {
    background-color: #838383;
    color: white;
    border: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .dropdown-toggle:hover {
    background-color: #d0d0d0;
  }
  
  .toggle-sidebar {
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .nav-link {
    color: black;
    display: flex;
    align-items: center;
    padding: 10px 30px;
  }
  
  .nav-link:hover {
    color: #007bff;
  }
  